.container {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper {
  width: 400px;
  height: 640px;
}

.swiper-slide {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 640px;
  object-fit: fill;
}

@media (max-width: 420px) {
  .swiper {
    width: 400px;
    height: 640px;
  }
    
  .swiper-slide{
    width: 100vw;
    height: 100vh;
  }
}